.header{
  background-color: #3CB542;
  position: fixed;
  margin: auto;
  width: 100%;
}
.content{
  position: relative;
  border-bottom: solid 5px #3CB542;
  border-left: solid 5px #3CB542;
}
#heading{
  font-family: 'Audiowide', cursive;
  font-size: 50px;
  color: white;
  padding-left: 10px;
}
.info{
  color: black;
  font-size: 55px;
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
}
#tryAgain{
  padding-top: 20px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.bottom{
  padding-top: 150px;
  text-align: center;
}
h3{
  font-size: 60px;
}
#timer {
  float:right;
  color: black;
  padding-right: 20px;
  font-size: 20px;
  font-family: 'Audiowide', cursive;
}
