.header{
  background-color: #3CB542;
  position: fixed;
  margin: auto;
  width: 100%;
}
.content{
  position: relative;
  border-bottom: solid 5px #3CB542;
  border-left: solid 5px #3CB542;
}
#heading{
  font-family: 'Audiowide', cursive;
  font-size: 50px;
  color: white;
  padding-left: 10px;
}
.info{
  color: black;
  font-size: 20px;
  padding-top: 100px;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
}
li{
  font-size: 25px;
}
